Day1/input_test.txt
Day1/input.txt
Day2/input_test.txt
Day2/input.txt
Day3/input_test.txt
Day3/input.txt
Day4/input_test.txt
Day4/input.txt
Day5/input.txt
Day5/input_test.txt
Day6/input.txt
Day6/input_test.txt
Day8/input_test.txt
Day8/input.txt
Day9/input_test.txt
Day9/input.txt
